.jumbotron {
  padding-top: 9rem;
  background-color: rgb(227, 166, 255);
}

#hobi {
  background-color: rgb(227, 166, 255);
}

#kontak {
  background-color: rgb(227, 166, 255);
}

section {
  padding-top: 7rem;
}
