.jumbotron {
  padding-top: 9rem;
  background-color: rgb(97, 75, 107);
}

#hobi {
  background-color: rgb(97, 75, 107);
}

#kontak {
  background-color: rgb(97, 75, 107);
}

section {
  padding-top: 7rem;
}
